@charset "UTF-8";
:root {
  /* Основные шрифты */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Основные цвета */
  --primery-text-color: #757575;
  --primery-white-color: #ffffff;
  --primery-title-color: #212121;
  --accent-color: #2196f3;
  --primery-team-color: #f5f4fa;
  --primery-background-color: #2f303a;
  --icons-gray: rgba(175, 177, 184, 1);
  --icons-footer: rgba(255, 255, 255, 0.1);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 80px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primery-white-color);
  z-index: 1;
}

.header-link {
  display: block;
  position: relative;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.header-linkheader-link:hover, .header-linkheader-link:focus {
  color: var(--accent-color);
}

.header-link {
  padding: 32px 0px;
}

.header-link.is-active {
  color: var(--accent-color);
}

.header-link.is-active::after {
  position: absolute;
  content: "";
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
  width: 100%;
  bottom: -1px;
  left: 0;
  height: 4px;
  pointer-events: none;
  display: block;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-link:hover::after,
.header-link:focus::after {
  background-color: var(--accent-color);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .header-item {
  margin-left: 50px;
}

.header-item:first-child {
  margin-left: 0px;
}

.header-logo {
  color: var(--accent-color);
}

.header-logo1 {
  color: #000000;
}

.footer-logo {
  color: var(--accent-color);
}

.footer-logo1 {
  color: var(--primery-white-color);
}

.header {
  border-bottom: 1px solid #ececec;
  color: var(--primery-white-color);
}

.header-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-title-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */