:root {
  /* Основные шрифты */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Основные цвета */
  --primery-text-color: #757575;
  --primery-white-color: #ffffff;
  --primery-title-color: #212121;
  --accent-color: #2196f3;
  --primery-team-color: #f5f4fa;
  --primery-background-color: #2f303a;
}
html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
 
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  margin-bottom: 0;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  
}
.header-nav{
  display: flex;
  align-items: center;
  
}
.header-nav .header-item {
  margin-left: 50px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list-footer{
  display: block;
  font-style: normal;
    list-style: none;
}
.footer-mail{
  margin-top: 9px;
  margin-bottom: 9px;
}


.list-stylenone {
  display: flex;
  font-style: normal;
  list-style: none;
}
.list-stylenone .product-img + .product-img{
  margin-left: 30px;
}

.address-map .footer-mail .footer-tel{
  margin-bottom: 9px;
}

.text-decorationnone{
  
    font-family: var(--secondary-font);
      font-size: 26px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      font-weight: 700;
  
}
.address-item .address-logo{
  padding-top: 20px;
  
}
.address-item{
  padding-top: 60px;
  
}

.header-logo {

  color: var(--accent-color);
}
.header-logo1 {

  color: #000000;
}
.footer-logo {
 

  color: var(--accent-color);
}
.footer-logo1 {
  

  color: var(--primery-white-color);
}


.header {

  color: var(--primery-white-color);
}

.header-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.footer-address:hover,
.footer-address:focus {
  
  color: var(--accent-color);
}


.contact{
  display: flex;
  align-items: center;
  margin-left: auto;
}


.contact .contact-item{
  
  margin-left: 50px;
  font-weight: 500;
}

.contact-item {
    font-family: var(--main-font);
    font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    
  color: var(--primery-text-color);
}
.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color)
}
.button-item:hover,
.button-item:focus{
  color: #188CE8;
}


.button-item {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  
  
}
.hero-item {
    
      
      text-align: center;
      padding-top: 200px;
      padding-bottom: 200px;
background: var(--primery-background-color)
  
}
.hero-text {
  max-width: 696px;
  height: 120px;
font-family: var(--main-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
margin: 0 auto;
margin-bottom: 30px;
text-transform: uppercase;
text-align: center;
color: var(--primery-white-color)

}



.benefits-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primery-title-color)
}
.benefits-text {
  display: flex;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primery-text-color)
}
.benefits-h2{
  display: none;
}
.images-title {
  padding-bottom: 50px;
  
  padding-top: 0px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primery-title-color)
}


.team-background{
 background-color:  var(--primery-team-color)
}
.img-team{
  padding-left: 30px;
}


.team {
  
  padding-bottom: 50px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primery-title-color)
}
.team-name {
  margin-left: 30px;
  padding-top: 30px;
  background-color: #ffffff;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);

}
.team-profession {
  margin-left: 30px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: var(--main-font);
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: #ffffff;
}
.footer-item {
  height: 252px;
  background-color: var(--primery-background-color);
}
.footer-address {
  margin-bottom: 9px;
    font-family: var(--main-font);
    font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
  color: var(--primery-team-color);
}
/* Портфолио */
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
}
.button-portfolio{
    font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.03em;
      cursor: pointer;
      
}
.img-section1{
  display: flex;
}
.butt-portfolio{
  
  text-align: center;
  align-items: center;
}
.img-portfolio{
  
  
}
.projects-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-title-color);

}
.projects-text{
  font-family: var(--main-font);
 
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
