:root {
  /* Основные шрифты */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Основные цвета */
  --primery-text-color: #757575;
  --primery-white-color: #ffffff;
  --primery-title-color: #212121;
  --accent-color: #2196f3;
  --primery-team-color: #f5f4fa;
  --primery-background-color: #2f303a;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 0.8px;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--accent-color);
}
.header-logo1 {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.8px;
  letter-spacing: 0.03em;
  color: #000000;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.8px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-logo1 {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.8px;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}

.header {
  color: var(--primery-white-color);
}

.header-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.08px;
  letter-spacing: 0.02em;
  color: var(--primery-title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.contact-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.08px;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.contact-item:hover,
.contact-item:focus {
  color: #2196f3;
}

.button-item {
  background-color: #2196f3;
  color: #ffffff;
}
.hero-item {
  background: #2f303a;
  color: #ffffff;
}
.hero-text {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 0.07px;
  text-align: center;
  color: #ffffff;
}
.benefits-title {
  color: #212121;
}
.benefits-text {
  color: #757575;
}
.images-title {
  color: #212121;
}
.team {
  color: #212121;
}
.team-name {
  color: #212121;
}
.team-profession {
  color: #757575;
}
.footer-item {
  background-color: var(--primery-background-color);
}
.footer-address {
  color: var(--primery-team-color);
}
/* Портфолио */
.button-portfolio:hover,
.button-portfolio:focus {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.06px;
  background-color: var(--accent-color);
  color: var(--primery-white-color);
}
