:root {
  /* Основные шрифты */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Основные цвета */
  --primery-text-color: #757575;
  --primery-white-color: #ffffff;
  --primery-title-color: #212121;
  --accent-color: #2196f3;
  --primery-team-color: #f5f4fa;
  --primery-background-color: #2f303a;
  --icons-gray: rgba(175, 177, 184, 1);
  --icons-footer: rgba(255, 255, 255, 0.1);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 80px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* section { */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primery-white-color);
  z-index: 1;
}
.header-link {
  display: block;
  position: relative;
  transition: color var(--animation);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-link {
  padding: 32px 0px;
}
.header-link.is-active {
  color: var(--accent-color);
}
.header-link.is-active::after {
  position: absolute;
  content: '';
  transition: background-color var(--animation);
  width: 100%;
  bottom: -1px;
  left: 0;
  height: 4px;
  pointer-events: none;
  display: block;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header-link:hover::after,
.header-link:focus::after {
  background-color: var(--accent-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav .header-item {
  margin-left: 50px;
}
.header-item:first-child {
  margin-left: 0px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list-footer {
  display: block;
  font-style: normal;
  list-style: none;
}
.footer-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.list-stylenone {
  display: flex;
  font-style: normal;
  list-style: none;
}
.list-stylenone .product-img + .product-img {
  margin-left: 30px;
}

.address-map .footer-mail .footer-tel {
  margin-bottom: 9px;
}

.text-decorationnone {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-right: 93px;
}
.address-item .address-logo {
  margin-top: 20px;
}
.header-logo {
  color: var(--accent-color);
}
.header-logo1 {
  color: #000000;
}
.footer-logo {
  color: var(--accent-color);
}
.footer-logo1 {
  color: var(--primery-white-color);
}

.header {
  border-bottom: 1px solid #ececec;
  color: var(--primery-white-color);
}

.header-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-title-color);
  transition: color var(--animation);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.footer-address {
  transition: color var(--animation);
}
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}
.icons-box {
  margin-left: 70px;
}
.footer-icons-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primery-white-color);
  font-weight: 700;
}

.footer-icons-list {
  display: flex;
  column-gap: 10px;
}

.footer-icons-list .item {
  width: 44px;
  height: 44px;
}

.footer-icons-list .item use {
  fill: var(--primery-white-color);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
}

.footer-icon-link {
  border-radius: 50%;
  display: flex;
  background-color: var(--icons-footer);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transition: background-color var(--animation);
}
.footer-mailing {
  margin-left: auto;
}

.mailing-container {
  display: flex;

  margin-top: 20px;
}

.footer-mailing input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primery-white-color);
}

.footer-mailing input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-submit-button {
  display: flex;
  align-items: center;

  width: 200px;
  height: 50px;
  margin-top: 0;
  margin-left: 12px;
  padding-left: 29px;

  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primery-white-color);

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.footer-mailing-icon {
  display: inline-block;
  height: 24px;
  margin-left: 10px;
}

.mailing-icon {
  fill: currentColor;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact .contact-link {
  margin-left: 50px;
}

.contact .contact-item {
  font-weight: 500;
}
.contact-link:first-child {
  margin-left: 0px;
}

.contact-item {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--animation);
  color: var(--primery-text-color);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}

.button-item {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--primery-white-color);
}

.hero-item {
  text-align: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primery-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/team1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-text {
  max-width: 696px;
  height: 120px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  color: var(--primery-white-color);
}

.benefits-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
  text-transform: uppercase;
}
.benefits-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primery-text-color);
}
.benefits-item {
  margin-right: 30px;
}
.benefits-item:last-child {
  margin-right: 0px;
}
.benefits-conteiner {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--primery-team-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.images-title {
  margin-bottom: 50px;

  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
}

.team-background {
  background-color: var(--primery-team-color);
}
.section-images {
  padding-top: 0px;
}
.img-team {
  background-color: #ffffff;
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.envelope-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--animation);
}
.envelope-icon:hover,
.envelope-icon:focus {
  fill: var(--accent-color);
}

.icon-item {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-log {
  width: 44px;
  height: 44px;
}
.icon-log svg {
  fill: var(--icons-gray);
  transition: fill var(--animation);
}
.icon-link:hover svg,
.icon-link:focus svg {
  fill: var(--primery-white-color);
}

.icon-link {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color var(--animation), fill var(--animation);
}
.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
}

.foot-item {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.foot-log {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.foot-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color var(--animation);
}
.foot-link:hover,
.foot-link:focus {
  background-color: var(--accent-color);
}
.use-foot {
  fill: var(--primery-white-color);
}
.foot {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.foot-text {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.box {
  margin-left: 70px;
}
.parmanent {
  justify-content: center;
  align-items: center;
}
.parmanent-box {
  width: 170px;
  height: 92px;
}

.parmanent-item {
  display: flex;
  gap: 30px;
}

.parmanent-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--animation), fill var(--animation);
}
.parmanent-link:hover,
.parmanent-link:focus {
  border-color: var(--accent-color);
}
.parmanent-link {
  fill: #afb1b8;
}
.parmanent-link:hover,
.parmanent-link:focus {
  fill: var(--accent-color);
}
.dop-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
  margin-bottom: 50px;
}

.team {
  margin-bottom: 50px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
}
.team-name {
  margin-bottom: 10px;
  background-color: #ffffff;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
}

.team-profession {
  font-family: var(--main-font);
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 16px;
}
.team-div {
  padding-top: 30px;
  padding-bottom: 30px;
}
.img-ul .img-team:first-child {
  margin-left: 0px;
}
.footer-item {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primery-background-color);
}
.footer-address {
  margin-bottom: 9px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-team-color);
}
/* Портфолио */
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}

.butt-portfolio {
  justify-content: center;
  margin-bottom: 50px;
}
.butto {
  padding: 6px 25px;
  border: #757575;
}
.butto1 {
  padding: 6px 22px;
  border: #757575;
}

.projects-text {
  font-family: var(--main-font);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.butt-one:not(:last-child) {
  margin-right: 8px;
}

.img-portfolio {
  display: flex;
  flex-wrap: wrap;
}
.img-portfolio .portfolio-card:not(:nth-child(3n)) {
  margin-right: 30px;
}
.img-portfolio .portfolio-card:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}
.projects-name {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  color: var(--primery-title-color);
  margin-bottom: 4px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.portfolio-item {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.address-item .text-decorationnone {
  margin-right: 0px;
}
.card-link {
  display: block;
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-link {
  transition: box-shadow var(--animation);
}

.product-img {
  position: relative;
}
.product-description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.product-text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.card-link:hover .pages-img::before,
.card-link:focus .pages-img::before {
  transform: translateY(0);
}
.pages-img {
  position: relative;
  overflow: hidden;
}
.pages-img::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--animation);
}

.pages {
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--animation);
}
.card-link:hover .pages,
.card-link:focus .pages {
  opacity: 1;
  transform: translateY(0);
}
.pages-text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--primery-white-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;

  width: 528px;

  transition: var(--animation);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-modal {
  color: #000000;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
}
.modal-svg:hover,
.modal-svg:focus {
  fill: var(--accent-color);
  transition: fill var(--animation);
}
.name-text {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}
.form-fild {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  transition: border-color var(--animation);
}
.form-fild:hover input,
.form-fild:focus input {
  border-color: #2196f3;
}
.form-fild input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.form-fild label {
  margin-bottom: 4px;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--animation);
}
.modal-icon:hover,
.modal-icon:focus {
  fill: var(--accent-color);
  cursor: pointer;
}
.form-fild textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
  cursor: pointer;
}
.check-icon {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
}
.modal-check-icon {
  position: absolute;
  appearance: none;
}
.modal-check {
  appearance: none;
  -moz-appearance: none;
}
.form-input:hover ~ .modal-icon,
.form-input:focus ~ .modal-icon {
  fill: var(--accent-color);
  color: #2196f3;
  transition: var(--animation);
}
.form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--animation);
}
.field-textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation);
}
.field-textarea:hover,
.field-textarea:focus {
  border-color: var(--accent-color);
}
.check-link {
  text-decoration: underline;
  color: var(--accent-color);
}
.form-button-submit {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  margin-left: 164px;
  margin-right: 164px;
  letter-spacing: 0.06em;
}
.form-checkbox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-text-p {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
