.backdrop {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    padding: 40px;
    width: 528px;
  
    transition: var(--animation);
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
  text-align: center;

  margin-bottom: 12px;
}
.form__fild {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;

  transition: border-color var(--animation);
}
.form__fild input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
  }
  .form__fild label {
  margin-bottom: 4px;
}
.form__fild textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
  cursor: pointer;
  
}
.form__field-textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation);
  outline: none;

  &:hover,
  &:focus {
  border-color: var(--accent-color);
}
}


.form__field-textarea::placeholder {
  padding-left: 16px;
  padding-top: 12px;
}
.form__name-text {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}
.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--animation);

  &:hover,
&:focus {
  border-color: var(--accent-color);
}
}

.form__input:focus ~ .form__modal-icon,
.form__input:hover ~ .form__modal-icon {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.form__modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--animation);
}
.form__checkbox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__modal-check {
  appearance: none;
  -moz-appearance: none;
}
.form__checkbox-opacity:checked + .form__checkbox-label::after {
  opacity: 1;
}
.form__checkbox-label {
    position: relative;
    padding-left: 28px;
  }
  .form__checkbox-label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 2px solid var(--primery-title-color);
    content: '';
  }
  .form__checkbox-label::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    border-radius: 2px;
    border: 2px solid var(--primery-title-color);
    content: '';
    background-image: url(../images/icon\ check1.svg);
    opacity: 0;
  }
  .form__modal-text {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
  }
  .form__check-link {
    text-decoration: underline;
    color: var(--accent-color);
  }
  .form__button-submit {
    display: block;
    margin-top: 30px;
    display: block;
    padding: 10px 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--primery-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
  }
  .form__button-modal {
    color: #000000;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
 
 
  .form__modal-svg:hover,
.form__modal-svg:focus {
  fill: var(--accent-color);
  transition: fill var(--animation);
}