.hang {
  padding-top: 60px;
}

.hang-list {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--primery-team-color);
    border-radius: 4px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 10x;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 10px;

    color: var(--primery-text-color);
    line-height: 1.71;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and(min-width:768px) {

  .hang-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__subtitle {
      text-align: left;
    }

    &__item {
      width: 354px;
    }

    &__container {
      max-width: none;
    }

    &__item:not(:last-child) {
      margin-bottom: 0;

    }
  }

}

@media screen and(min-width:1200px) {
  .hang {
    padding-top: 92px;
  }

  .hang-list {
    flex-wrap: nowrap;

    &__item {
      width: 270px;
    }
  }
}