.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--primery-background-color);

   
}
.footer__container {
    display: flex;
    align-items: baseline;

    @media screen and (min-width: 767px) and (max-width: 1199px) {
           
            padding-left: 75px;
            padding-right: 90px;
    
    
        }

   @media screen and (max-width: 767px) {
    align-items: center;
    flex-direction: column;
    
    
    
   }
 @media screen and (max-width: 1199px) {
     flex-wrap: wrap;
     justify-content: space-between;
    gap: 60px;
    
     
     

  

   
}
}

.address-item{
    @media screen and (max-width: 1199px) {
            align-items: center;
           text-align: center;
    
        }

}
.footer__address-item {
    flex-grow: 1;
}

.footer__address-item .footer__address {
    margin-top: 20px;
}

.footer__address-item  {
    margin-right: 0px;
}


.logo__white {
    color: var(--primery-white-color);
}

.footer__list {
    display: block;
    font-style: normal;
    list-style: none;
    margin-top: 20px;
}
.footer__map .footer__mail .footer__tel {
    margin-bottom: 9px;
}
.footer__address-map {
    margin-bottom: 9px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-team-color);
}
.footer__address-map {
    transition: color var(--animation);

    &:hover,
&:focus {
    color: var(--accent-color);
}
}


.footer__mail {
    margin-top: 9px;
    margin-bottom: 9px;

    @media screen and(max-width: 768px) {
        margin-top: 12px;
            margin-bottom: 12px;
            text-align: center;
    
        }
}

.footer__contact-item {
    
    align-items: center;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    transition: color var(--animation);
    color: var(--primery-text-color);

    &:hover,
&:focus {
    color: var(--accent-color);
}
}

.footer__contact-item:hover,
.footer__contact-item:focus {
    color: var(--accent-color);
}
.contact .footer__contact-item {
    font-weight: 500;
}
.box {
    margin-left: 94px;

    @media screen and(max-width: 1199px) {
            
            margin-left: 0;
            text-align: center;
    
        }


}
.box__text {
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}
.network {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.network__item {
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.network__link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color var(--animation);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
}
}


.network__icon {
    fill: var(--primery-white-color);
}
.footer__mailing {
    margin-left: 94px;
    @media screen and(max-width: 1199px) {
            width: 100%;
            margin-left: 0;
            text-align: center;
    
        }
}
.footer__mailing input {
    width: 100%;
    height: 50px;
    padding-left: 16px;
margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--primery-white-color);

    @media screen and(min-width: 1200px) {
            margin-bottom: 0;
            width: 354px;
    
        }

                 @media screen and(min-width: 767px) and (max-width: 1199px) {
                     
                     width: 450px;
        
                 }
}

.footer__mailing input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}
.footer__icons-title {
    text-transform: uppercase;
    color: var(--primery-white-color);
    font-weight: 700;

    @media screen and(max-width: 1200px) {
            margin-bottom: 20px;
    
        }
}
.footer__mailing-container {
    display: flex;
    margin-top: 20px;
 
    @media screen and(max-width: 1199px) {
        flex-direction: column;
        align-items: center;
        display: block;
        
    }
   
}


.footer__mailing-button {
    display: flex;
    align-items: center;

    width: 200px;
    height: 50px;
    margin-top: 0;
    margin-left: 12px;
    padding-left: 29px;

    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primery-white-color);

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;

    @media screen and(max-width: 1199px) {
           margin-left: auto;
           margin-right: auto;
    
        }
}
.footer__mailing-icon {
    display: inline-block;
    height: 24px;
    margin-left: 10px;
}
.footer__mailing-icons {
    fill: currentColor;
}


.footer-icon-link {
  border-radius: 50%;
  display: flex;
  background-color: var(--icons-footer);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transition: background-color var(--animation);

  &:hover,
&:focus {
  background-color: var(--accent-color);
}
}