.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--primery-background-color);
}
.footer__container {
    display: flex;
    align-items: baseline;
}
.footer__address-item {
    flex-grow: 1;
}

.footer__address-item .footer__address {
    margin-top: 20px;
}
.text-decorationnone {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-right: 93px;
}
.footer__address-item .text-decorationnone {
    margin-right: 0px;
}
.footer__logo {
    color: var(--accent-color);
}

.footer__logo1 {
    color: var(--primery-white-color);
}

.footer__list {
    display: block;
    font-style: normal;
    list-style: none;
}
.footer__map .footer__mail .footer__tel {
    margin-bottom: 9px;
}
.footer__address-map {
    margin-bottom: 9px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-team-color);
}
.footer__address-map {
    transition: color var(--animation);
}

.footer__address-map:hover,
.footer__address-map:focus {
    color: var(--accent-color);
}
.footer__mail {
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer__contact-item {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    transition: color var(--animation);
    color: var(--primery-text-color);
}

.footer__contact-item:hover,
.footer__contact-item:focus {
    color: var(--accent-color);
}
.contact .footer__contact-item {
    font-weight: 500;
}
.box {
    margin-left: 70px;
}
.footer__foot-text {
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}
.footer__foot-item {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer__foot-log {
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.footer__foot-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color var(--animation);
}

.footer__foot-link:hover,
.footer__foot-link:focus {
    background-color: var(--accent-color);
}
.footer__use-foot {
    fill: var(--primery-white-color);
}
.footer__mailing {
    margin-left: 93px;
}
.footer__mailing input {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--primery-white-color);
}

.footer__mailing input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}
.footer__icons-title {
    text-transform: uppercase;
    color: var(--primery-white-color);
    font-weight: 700;
}
.footer__mailing-container {
    display: flex;
    margin-top: 20px;
}
.footer__mailing-button {
    display: flex;
    align-items: center;

    width: 200px;
    height: 50px;
    margin-top: 0;
    margin-left: 12px;
    padding-left: 29px;

    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primery-white-color);

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.footer__mailing-icon {
    display: inline-block;
    height: 24px;
    margin-left: 10px;
}
.footer__mailing-icons {
    fill: currentColor;
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
}

.footer-icon-link {
  border-radius: 50%;
  display: flex;
  background-color: var(--icons-footer);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transition: background-color var(--animation);
}