.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--primery-white-color);
    z-index: 1;
}

.header-nav__link {
    display: block;
    position: relative;
    transition: color var(--animation);

    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}



.header-nav__link {
    padding: 32px 0px;

    &:hover::after,
    &:focus::after {
    background-color: var(--accent-color);
}
}

.header-nav__link.header-nav__link__is-active {
    color: var(--accent-color);
}

.header-nav__link.header-nav__link__is-active::after {
    position: absolute;
    content: '';
    transition: background-color var(--animation);
    width: 100%;
    bottom: -1px;
    left: 0;
    height: 4px;
    pointer-events: none;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-color);
}



.header__container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    
}

.header-nav .header-nav__item {
    margin-left: 50px;
}

.header-nav__item:first-child {
    margin-left: 0px;
}
.logo{
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-right: 93px;
  color: var(--accent-color);
}


.logo__dark {
    color: #000000;
}



.header {
    border-bottom: 1px solid #ececec;
    color: var(--primery-white-color);
}

.header-nav__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-title-color);
    transition: color var(--animation);

    &:hover,
&:focus{
    color: var(--accent-color);
}
}


.contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contact .contact__item {
    margin-left: 50px;
  }
  
  .contact .contact__link {
    font-weight: 500;
  }
  .contact__item:first-child {
    margin-left: 0px;
  }
  
  .contact__link {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    transition: color var(--animation);
    color: var(--primery-text-color);
    
    &:hover,
  &:focus {
    color: var(--accent-color);
  }

  }
  
  .contact__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--animation);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  