.hero {
    color: var(--primery-white-color);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    margin-left: auto;
    margin-right: auto;
    background-color: var(--primery-background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/back-imgx1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/back-imgx2.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/back768x1.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/back768x2.jpg);
        }

        @media screen and (min-width: 1200px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/team1.jpg);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/team2.jpg);
            }
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 900;
        line-height: 42px;
        letter-spacing: 0.06em;
        text-align: center;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;

        text-transform: uppercase;
    }

    &__button {
        margin-top: 30px;
        border: 1px solid transparent;
        padding: 10px 23px;
        border-radius: 4px;
        min-width: 200px;

        font-family: inherit;
        color: var(--primery-white-color);
        background-color: var(--accent-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        cursor: pointer;
        text-align: center;
    }
}


@media screen and (min-width:768px) {
    .hero-container {
        padding-bottom: 120px;
    }
}

@media screen and (min-width:1200px) {

    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
    }

    .hero__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        max-width: 696px;
    }

}