.images {
    padding-top: 0px;
  }
  .images__title {
    margin-bottom: 50px;
  
    text-align: center;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
  }
  .product__img {
    position: relative;
  }
  .list-stylenone .product__img + .product__img {
    margin-left: 30px;
  }
  .product__description {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .product__text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-white-color);
  }