.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--primery-title-color);
    padding: 40px;
    z-index: 1;

    &.is-open{
        transform: translateX(0);
        display: block;
    }
    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}