  .card {
    display: flex;
    flex-wrap: wrap;

  
@media screen and (min-width: 768px) and (max-width: 1199px) {
    gap: 30px;

  }

  }

.card__item{

  @media screen and (min-width: 768px) {
      width: 354px;
  
    }
         @media screen and (min-width: 1200px) {
           width: 370px;
    
         }
}

  .card__item:not(:nth-child(3n)) {
margin-right: 0;
    

    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      
    }
  }
  .card__item:not(:nth-child(n + 7)) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 0px;
    
      }
  }

  .card__link {
    display: block;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .card__box::before,
    &:focus .card__box::before {
      transform: translateY(0);
    }

    &:hover .card__pages,
    &:focus .card__pages {
      opacity: 1;
      transform: translateY(0);
    }
  }
 
  .card__link {
    transition: box-shadow var(--animation);
  }

.card__box {
  position: relative;
  overflow: hidden;
}
.card__box::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--animation);
}
.card__pages {
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    padding-left: 24px;
    opacity: 0;
    transform: translateY(100%);
    transition: transform var(--animation);
  }

.card__pages-text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--primery-white-color);
}
.card__portfolio-box {
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      height: 150px;
      
    }
  }
  .card__projects-title {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    color: var(--primery-title-color);
    margin-bottom: 4px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .card__projects-text {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
  }