body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding-top: 80px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
section {
    padding-top: 94px;
    padding-bottom: 94px;
}